*{
    box-sizing: border-box;
    margin:auto;
    padding:0;
}
body{
    background: plum;
}
.grid{
    display:grid;
    grid-template-columns: 30% 30% 30%;
}

.grid > div{
    background: palevioletred;
    padding: 1em;
}
.grid > div:nth-child(odd){
    background-color: blueviolet;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    display:grid;
    grid-column-gap: 5px;
    grid-auto-rows: 300px;
   
}
.item{
    background: rgb(141, 215, 240);
    color: black;
    padding: 5px;
font-size: larger;
}

li{
    border: 1px rgb(141, 215, 240);
    margin:0.5em;
    padding:0.5em;  
  }

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    border: 2px skyblue;
    display:flex;
    justify-content:center;
}

@media(min-width: 800px) {
    body{
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 600px;
        grid-template-areas: 195px ;
        font-size: 20px; 
    } 